* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
   
.container {
    margin: 10px auto;
    width: 60%;
}
  /* header */

.head-layout {
    width: 150px;
    border-right: 1px solid lightgrey;
}

.head-layout img {
    width: 130px;
    margin: 5px;
}

/* navbar */

a {
    text-decoration: none;
    color: #A6A7A7;
    margin-left: 10px;
}
#features{margin-left: 0px;}

a:hover{
    color: black;
}

.nav-bar li {
    display: inline-block;
    margin-top: 30px;
}

 /* jumbotron */

.jumbotron {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    height: 360px;
    border-radius: 10px;
}
.container-jumbo {
    height: 100%;
    background-color: rgba(202, 189, 181, 0.5);
}
.text-content-jumbo {
    width: 55%;
    margin-left: 30px;
    padding-top: 220px;
}
.jumbotron-title, .paragraph-jumbo {
    color: white;
    text-align: left;
}

.paragraph-jumbo {
    font-size: 15px;
}
 /* 2° section */

.blue-section {
    height: 400px;
    margin-top: 10px;
}

.head-section{
     height: 50px;
     margin-top: 30px;
     margin-bottom: 20px;
}
.title-section {
   font-size: 30px;
}

.title-paragraph {
    color: #A6A7A7;
    font-size: 15px;
}
.col-left, 
.col-middle, 
.col-right {
    float: left;
    margin: 15px 0 10px 0;
    width: calc(25% - 10px);
    height: 80%;
    background-color: #ABCFE6;
}

.col-middle {
    width: 50%;
    margin: 15px 10px 10px 10px;
}

/* footer  */
.layout-footer {
   height: 30px;
   margin-top: 5px;
   background-color: #8702FB;
}